name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "src/pokebattle-ui/**"
      - ".github/workflows/ui-sw-deploy.yml"

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_STONE_00C70EE03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "./src/pokebattle-ui"
          api_location: ""
          output_location: "dist/pokebattle-ui/browser"
